    <head>
            <meta charset="UTF-8" />
            <title>{{pageTitle}}</title>
            <title>Blog Site</title>
            <link rel="stylesheet" href="/stylesheet/style.css"> 
        </head>

        <body>
            <header id="mainheader">
                <h1>Blog Post Website</h1>
            </header> 

            <div class="navbar">
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/login">Login</a>
            </div>

            <main>
                {{{ body }}}
            </main>

            <footer>
                <p>&copy; {{formatYear currentYear}} Blog Post Site</p>
            </footer>

        </body>

        <script src="/js/dashboard.js"></script>
        <script src="/js/signup.js"></script>
        <script src="/js/login.js"></script>

        {{!-- <script src="/utils/helpers.js"></script> --}}
